@use '../../variables';

.create-task-modal {
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
  height: 100%;
  gap: variables.$gap-form;

  &__header {
    font-size: variables.$title-size;
  }

  &__input {
    padding: variables.$padding-input;
    background: variables.$main-color;
    border: variables.$border-input;
  }
  &__button {
    padding: variables.$padding-button;
    background: variables.$main-color;
    border: variables.$border-button;

    &:hover {
      background: aqua;
      cursor: pointer;
    }
  }
}