@use '../../variables';

.project-list {
  display: flex;
  flex-direction: column;
  height: 100%;
  padding: variables.$padding-form;
  gap: variables.$gap-form;

  &__header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

  }
  &__title {
    font-size: variables.$title-size;
  }
  &__create {
    padding: variables.$padding-button;
    font-size: variables.$main-size;
    background: variables.$main-color;
    border: variables.$border-button;

    &:hover {
      cursor: pointer;
      background: aqua;
    }
  }

  &__search {
    display: flex;
    flex-direction: row;
    gap: variables.$gap-form;

    &__input {
      border: variables.$border-input;
    }
    &__button {
      padding: variables.$padding-button;
      font-size: variables.$min-size;
      background: variables.$main-color;
      border: variables.$border-button;

      &:hover {
        cursor: pointer;
        background: aqua;
      }
    }
  }

  &__table {
    width: 100%;
    border-spacing: 0;
    overflow: hidden;
    border-radius: variables.$border-radius-table;
    border: variables.$border-table;
    font-size: variables.$main-size;

    thead {
      text-align: left;
      background: variables.$color-head-table;
    }

    th, td {
      padding: variables.$padding-table;
    }
  }
}