@import '../../variables';

.project-list {
  display: flex;
  flex-direction: column;
  height: 100%;
  padding: $padding-form;
  gap: $gap-form;

  &__header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

  }
  &__title {
    font-size: $title-size;
  }
  &__create {
    padding: $padding-button;
    font-size: $main-size;
    background: $main-color;
    border: $border-button;

    &:hover {
      cursor: pointer;
      background: aqua;
    }
  }

  &__search {
    display: flex;
    flex-direction: row;
    gap: $gap-form;

    &__input {
      border: $border-input;
    }
    &__button {
      padding: $padding-button;
      font-size: $main-size;
      background: $main-color;
      border: $border-button;

      &:hover {
        cursor: pointer;
        background: aqua;
      }
    }
  }

  &__table {
    width: 100%;
    border: .5px solid $text-color;
    border-spacing: 0;
    border-radius: 10px;
    overflow: hidden;
    font-size: $main-size;

    thead {
      text-align: left;
      background: #ddd;
    }

    th, td {
      padding: 1em;
    }




  }
}