@use '../../variables' as *;
@use '../../fonts' as *;


.header {
  height: $header-height;
  background: $midnight;
  border-bottom: 1px solid $midnight;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;

  &__nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    padding: 0 1em;
    &__link {
      text-decoration: none;
      color: $arctic;
      display: flex;
      flex-direction: row;
      align-items: center;
      font-family: 'MyFont', sans-serif;
      font-size: $title-size;

      img {
        width: 40px;
        height: 40px;
      }
    }
  }


  &__list {
    display: flex;
    flex-direction: row;
    gap: 1em;
  }

  &__item {
    list-style: none;
    &__link {
      text-decoration: none;
      color: $main-color;
    }
  }
  &__profile {
    display: flex;
    flex-direction: row;
    gap: $gap-form;
    align-items: center;

    &__button {
      padding: $padding-button;
      border: $border-button-hover;
      border-radius: 5px;
      font-family: 'MyFont', sans-serif;
      background: $midnight;
      color: $slopes;
      box-shadow: inset 0 0 0 0 $mount;
      transition: ease-out 1s;

      &:hover {
        box-shadow: inset 400px 0 0 0 $mount;
      }
    }

    &__image {
      width: 25px;
      height: 25px;
      border-radius: 50%;
      cursor: pointer;
    }
  }

}
