@use '../../variables';

.one-task {
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
  height: 100%;
  font-size: variables.$main-size;

  &__header {
    font-size: variables.$title-size;
  }
}