@import './variables';

*,
*::before,
*::after {
  box-sizing: border-box;
}

html, body {
  margin: 0;
  padding: 0;
}

.main__container {
  height: calc(100vh - $header-height - $footer-height);
  box-sizing: border-box;
}