@use './variables' as *;
@use './fonts' as *;

*,
*::before,
*::after {
  box-sizing: border-box;
}

html, body {
  margin: 0;
  padding: 0;
}

.main__container {
  margin-top: $header-height;
  min-height: calc(100vh - $header-height - $footer-height);
  box-sizing: border-box;
  font-family: 'MyFont', sans-serif;
}