//main
$main-color: #ffffff;
$text-color: #000000;
$main-size: 16px;
$title-size: 24px;
$min-size: 14px;
$arctic: #d3d1ce;
$apres: #6c6d74;
$slopes: #b3b7ba;
$midnight: #090f15;
$mount: #262e36;

//header
$header-height: 60px;

//footer
$footer-height: 60px;

//form
$border-form: 1px solid black;
$padding-form: 4em;
$shadow-form: 5px 5px black;
$gap-form: 1em;

//input
$border-input: 1px solid black;
$padding-input: .5em;

//button
$border-button: 1px solid black;
$border-button-hover: 1px solid $slopes;
$padding-button: .5em;

//table
$padding-table: 10px;
$color-head-table: #ddd;
$border-table: 1px solid rgba(0, 0, 0, 0.2);
$border-radius-table: 10px;