@use '../../variables' as *;

.home {
  position: relative;
  background: $midnight;
  color: $arctic;
  z-index: -1;

  &:before {
    position: absolute;
    z-index: 0;
    content: "";
    inset: 0;
    background-image:
            url("src/assets/images/cross.png"),
            url("src/assets/images/cross.png"),
            url("src/assets/images/cross.png"),
            url("src/assets/images/cross.png"),
            url("src/assets/images/cross.png"),
            url("src/assets/images/cross.png"),
            url("src/assets/images/cross.png"),
            url("src/assets/images/cross.png"),
            url("src/assets/images/cross.png"),
            url("src/assets/images/cross.png");
    background-repeat: no-repeat;
    background-position:
            10% 20%,
            40% 100%,
            70% 30%,
            90% 80%,
            80% 60%,
            30% 60%,
            34% 20%,
            10% 85%,
            90% 10%,
            65% 90%;
    background-size:
            40px,
            50px,
            60px,
            70px,
            80px,
            35px,
            100px,
            65px,
            110px,
            65px;
    pointer-events: none;
    opacity: 0.04;
  }

  &__forest {
    position: relative;
    min-height: 500px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    &:before {
      content: "";
      inset: 0;
      position: absolute;
      background-image: url("src/assets/images/pngegg.png");
      background-size: 100% 100%;
      background-repeat: no-repeat;
      background-position: bottom;
      z-index: 1;
    }

    &__left {
      width: 50%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      z-index: 1;
    }
    &__right {
      width: 50%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      z-index: 1;
    }
  }
  &__teeth {
    position: relative;
    min-height: 500px;
    display: flex;
    align-items: center;

    &__list {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: space-evenly;
      width: 100%;

      &__item {
          list-style: none;
      }
    }

    &:before {
      position: absolute;
      content: "";
      z-index: -1;
      inset: 0;
      background-image: url("src/assets/images/d6510bdd347bded9fa758d10cf7e58e7-removebg-preview.png");
      background-repeat: no-repeat;
      background-position: 10% 120%;
      opacity: 0.1;
      pointer-events: none;
    }
  }
  &__glass {
    position: relative;
    min-height: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  &__god{
    position: relative;
    min-height: 500px;
    display: flex;
    justify-content: center;
    align-items: center;

    &:before {
      content: "";
      inset: 0;
      position: absolute;
      background-image: url("src/assets/images/ceb9c9ba1100b06a51958627795326cd-removebg-preview.png");
      background-size: contain;
      opacity: 0.1;
      background-repeat: no-repeat;
      background-position: 90% 90%;
      z-index: 1;
    }
  }




}
